@import "../../index.scss";

.resources-title {
    margin-top: 70px;
    text-align: center;
    margin-bottom: 50px;
}

.resources-container {
    margin: 50px auto;
    width: 80%;
    display: grid;
    grid-template-columns:  32% 32% 32%;
    row-gap: 2%;
    column-gap: 2%;
    margin-bottom: 150px;
}

.resource {
    border: 2px solid $color-primary;
    border-radius: 16px;
    padding: $spacers-container-l $spacers-xxl;
    font-weight: $weight-bold;

    h3 {
        color: rgba( $color-primary, .6 );
    }

    h4 {
        color: $color-primary;
        font-weight: $weight-regular;
    }

    &:hover {
        background-color: $color-primary;
        
        h2, h4 {
            color: $color-white;
        }

        h3, .link-post {
            color: $color-accent;
        }

        .link-post::after {
            background: url("../../../public/assets/arrow-right-green.svg");
        }
    }
}