@import "/src/index.scss";
@import "/src/scss-common/responsive";

.card-list {
  padding: 48px;

  &__heading {
    font-size: 48px;
    text-align: center;
  }

  &__list {
    display: grid;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;

    grid-template-columns: 1fr;

    @include mobile-min {
      grid-template-columns: 1fr 1fr;
    }

    @include large-min {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &__card {
    border: 2px solid $color-primary;
    border-radius: 16px;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    transition: all 0.15s;

    &.is-hover {
      background-color: $color-primary;

      .card-list {
        &__title {
          color: $color-white;
        }

        &__link {
          color: $color-accent;
        }
      }
    }
  }

  &__content {
    padding: 26px;
  }

  &__action {
    padding: 16px;
    background-color: $color-accent;
    color: $color-primary;
    font-size: 16px;
    font-weight: 700;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: add 0.15s;

    &:hover {
      background-color: $color-grey;
      color: $color-white;
    }
  }

  &__title {
    font-size: 24px;
    margin-top: 28px;
    margin-bottom: 40px;
  }

  &__links {
    display: flex;
    justify-content: space-between;
    color: $color-primary;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  &__link {
    display: inline-flex;
    align-items: center;

    .card-list__icon {
      margin-left: 8px;
      transition: all 0.15s;

      path {
        fill: currentColor;
      }
    }

    &:hover {
      .card-list__icon {
        margin-left: 16px;
      }
    }
  }
}
